<%= form_for(@product, remote: true, html: { class: "form-horizontal directUpload", id: "sumbitit", style: "display: inline;", multipart: true}) do |f| %>
  <div class="modal-body">
        <ul class="errors"></ul>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :item, class: "control-label" %>
        <%= f.text_field :item, class: 'form-control' %>

        <%= f.label :color, class: "control-label" %>
        <%= f.text_field :color, class: 'form-control' %>

        <%= f.label :weight, class: "control-label" %>
        <%= f.text_field :weight, class: 'form-control' %>

        <%= f.label :dimensions, class: "control-label" %>
        <%= f.text_field :dimensions, class: 'form-control' %>

        <%= f.label :quantity, class: "control-label" %>
        <%= f.text_field :quantity, class: 'form-control' %>

        <%= f.label :location, class: "control-label" %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :description, class: "control-label" %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.label :origin, class: "control-label" %>
        <%= f.text_field :origin, class: 'form-control' %>

        <%= f.label :status, class: "control-label" %>
        <%= f.text_field :status, class: 'form-control' %>

        <%= f.label :destination, class: "control-label" %>
        <%= f.text_field :destination, class: 'form-control' %>

        <%= f.label :category, class: "control-label" %>
        <%= f.text_field :category, class: 'form-control' %>

        <%= f.label :image, class: "control-label" %>
        <%= f.file_field :image, class: 'form-control' %>
    
        <%= f.submit "Submit Product to Database", class: "btn btn-large btn-primary form-margin", id: "form-submit" %>
        <div style="height: 45px;"></div>
  </div>
<% end %>