<div id="showit">
  <h3>Product</h3>

  <div class="row">

    <div class="col-md-3">
      <p>Item: <%= @product.item if @product.item %></p>
      <p>Color: <%= @product.color if @product.color %></p>
      <p>Weight: <%= @product.weight if @product.weight %></p>
      <p>Dimensions: <%= @product.dimensions if @product.dimensions %></p>
      <p>Quantity: <%= @product.quantity if @product.quantity %></p>
      <p>Location: <%= @product.location if @product.location %></p>
      <p>Description: <%= @product.description if @product.description %></p>
      <p>Origin: <%= @product.origin if @product.origin %></p>
      <p>Status: <%= @product.status if @product.status %></p>
      <p>Destination: <%= @product.destination if @product.destination %></p>
      <p>Category: <%= @product.category if @product.category %></p>
      <p><%= link_to 'Edit', edit_product_path(@product), remote: true, class: 'btn btn-warning' %></p>
      <p><%= link_to "Delete", product_delete_path(@product), remote: true, class: "btn btn-danger" %></p>
    </div>
    <div class="col-md-9">
      <p>Image: <%= image_tag @product.image.url %></p>
    </div>

  </div>
</div>


