<div id="showit">
  <div class="container">
  <h1><%= " #{@product.item}" %></h1>

  <div class="row">
   <div class="col-md-12" style="margin-bottom: 10px;">
  <%= link_to "Back", products_path, class: "btn btn-primary" %>

  <%= link_to 'Edit', edit_product_path(@product), remote: true, class: 'btn btn-warning' %>
  <%= link_to "Delete", product_delete_path(@product), remote: true, class: "btn btn-danger" %>
   </div>
</div>

  <div class="row">

    <div class="col-md-6">
    <table>
      <tr>
      <th>Color: </th>
        <td><%= @product.color if @product.color %></td>
      </tr>
      <tr>
      <th>Weight:</th><td> <%= @product.weight if @product.weight %></td>
      </tr>
      <tr>
      <th>Dimensions:</th><td> <%= @product.dimensions if @product.dimensions %></td>
      </tr>
      <tr>
      <th>Quantity:</th><td> <%= @product.quantity if @product.quantity %></td>
      </tr>
      <tr>
      <th>Location:</th><td> <%= @product.location if @product.location %></td>
      </tr>
      <tr>
      <th>Description:</th><td> <%= @product.description if @product.description %></td>
      </tr>
      <tr>
      <th>Origin:</th><td> <%= @product.origin if @product.origin %></td>
      </tr>
      <tr>
      <th>Status:</th><td> <%= @product.status if @product.status %></td>
      </tr>
      <tr>
      <th>Destination:</th><td> <%= @product.destination if @product.destination %></td>
      </tr>
      <tr>
      <th>Category:</th><td> <%= @product.category if @product.category %></td>
      </tr>
    </table>
    </div>
    <div class="col-md-6"><%= image_tag @product.image.url %>
    </div>

  </div>
  </div>
</div>


