<%= form_tag(products_path, remote:true, :method => "get", id: "search-form", class: "control-group") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control form-margin" %>
          <%= submit_tag "Search", id: "but-search", class: " btn btn-primary form-margin" %>
    <% end %>
    <% if @products.present? %>
        <%= render @products %>
    <% else %>
        <p>There are no products containing the term(s) <%= params[:search] %>.</p>
    <% end %>