<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Products</h3>

    </div>
    <div class="col-md-6 search-div form-inline">
    <%= form_tag(products_path, :method => "get", id: "search-form", class: "control-group") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control form-margin" %>
          <%= submit_tag "Search Products", class: " btn btn-primary form-margin" %>
    <% end %>

    <% if @products.present? %>
        <%= render @products %>
    <% else %>
        <p>There are no products containing the term(s) <%= params[:search] %>.</p>
    <% end %>
    </div>
  </div>
  <div class="row form-margin">
    <div class="col-lg-12 table-responsive">
     <table class="table">

       <tr>
         <th>Id:</th>
         <th>Name:</th>
         <th>Size:</th>
         <th>Color:</th>
         <th>Weight:</th>
         <th>Dimensions:</th>
         <th>Quantity:</th>
         <th>Location:</th>
         <th>Description:</th>

         <th>Edit:</th>
       </tr>

       <% @products.each do |product| %>

      <tr>
        <td><%= product[:id] %></td>
        <td><%= product.name %></td>
        <td><%= product.size %></td>
        <td><%= product.color %></td>
        <td><%= product.weight %></td>
        <td><%= product.dimensions %></td>
        <td><%= product.quantity %></td>
        <td><%= product.location %></td>
        <td><%= product.description %></td>

        <td><%= link_to("Delete", product_path(product), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %><span style="margin-left: 5px; margin-right: 5px;"></span><%= link_to("Update", edit_product_path(product), :method=> :get, :class => 'button-xs') %></td>


      </tr>
      <%end%> 
      </table>
    </div>
  </div>
</div>