<% provide(:title, 'Add Products') %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add New Product</h1>
    <%= form_for(@product) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :size %>
        <%= f.text_field :size, class: 'form-control' %>

        <%= f.label :color %>
        <%= f.text_field :color, class: 'form-control' %>

        <%= f.label :weight %>
        <%= f.text_field :weight, class: 'form-control' %>

        <%= f.label :dimensions %>
        <%= f.text_field :dimensions, class: 'form-control' %>

        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: 'form-control' %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>

        <%= f.submit "Submit Product to Database", class: "btn btn-large btn-primary form-margin" %>
    <% end %>
  </div>
</div>