<h3>Product</h3>
<p>Name: <%= @product.name if @product.name %></p>
<p>Size: <%= @product.size if @product.size %></p>
<p>Color: <%= @product.color if @product.color %></p>
<p>Weight: <%= @product.weight if @product.weight %></p>
<p>Dimensions: <%= @product.dimensions if @product.dimensions %></p>
<p>Dimensions: <%= @product.quantity if @product.quantity %></p>
<p>Dimensions: <%= @product.location if @product.location %></p>
<p>Dimensions: <%= @product.description if @product.description %></p>





